<%= form_with(model: @employee, remote:true) do |f| %>
  <div class="modal-body">
    <div id="errorArea">
    </div>
    <div class="form-group mt-3">
      <%= f.label :name  %>
      <%= f.text_field :name , class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :email  %>
      <%= f.text_field :email, class: "form-control"  %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :contact  %>
      <%= f.text_field :contact, class: "form-control"  %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :address  %>
      <%= f.text_field :address, class: "form-control"  %>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.submit %>
    <button type="button" class="btn btn-secondary btn-lg close-modal" data-bs-dismiss="modal">Close</button>
  </div>
<% end %>

