-# frozen_string_literal: true
= simple_form_for(@employee) do |f|
  .modal-body
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs
      = f.input :name
      = f.input :email
      = f.input :contact
      = f.input :address

  .modal-footer
    %button.btn.btn-secondary.btn-lg.close-modal{"data-bs-dismiss" => "modal", type: "button"} Close  
    = f.button :submit, class: "btn btn-primary btn-lg"
