%table.table
  %thead
    %tr
      %th
        \#
      %th
        Content
      %th
        Language
      %th 
        Translations Count
      %th
        User
      %th
        Actions
  %tbody
    - @words.each do |word|
      %tr
        %td
          = word.id
        %td
          = word.content
        %td
          = word.language&.name
        %td 
          = word.translations.size
        %td
          = word.user&.email
        %td
          =  link_to "Edit", edit_word_path(word), class: "btn btn-warning"
          =  link_to "Show", word_path(word), class: "btn btn-info"
          =   link_to "Delete", word_path(word), method: :delete, data: { confirm: "Are you Sure?"}, class: "btn btn-danger" 
  = paginate @words, theme: 'twitter-bootstrap-4'     